html, body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    overflow:hidden;
    color:rgb(180,180,180);
    -webkit-user-select: none;
    font-family: ubuntu,helvetica,arial;
}
body *{
    position:relative;
    cursor:default;
}

input[type='text']{
    cursor: text;
}

@font-face {
	font-family: 'icomoon';
	src:url('../font/icomoon.ttf?97c8rs') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../font/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('../font/MaterialIcons-Regular.woff2') format('woff2'),
    url('../font/MaterialIcons-Regular.woff') format('woff'),
    url('../font/MaterialIcons-Regular.tff') format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
#skip-forward{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  float: left;
}
#skip-back{
  float: left;
}
button i{
  cursor:pointer;
  pointer-events: none;
}
button[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#hiddenvideo{
  width: 100%;
  height: 100%;
}
.next-video,
.last-video{
  position: absolute;
  top:25%;
}
.next-video{
  right:5px;
}
.last-video{
  left: 5px;
}
.frame-holder{
  display: none;
  width:100px;
  height: auto;
  position: absolute;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);

  bottom:100px;
  left:150px;
}
input{
    border:none;
}
.play, .pause{
  float:left;
}
.icon-play:before {
	content: "\e603";
}
.icon-pause:before {
	content: "\e604";
}
.icon-fullscreen:before {
	content: "\e605";
}
.icon-vol:before {
	content: "\e606";
}
.icon-vol2:before {
	content: "\e607";
}
.icon-fullscreen-exit:before {
	content: "\e600";
}

.player{
    background:rgb(0,0,0);
    height:100%;
    width:100%;
}

.draggable{
    -webkit-app-region: drag;
}

.video{
    width:100%;
    height:100%;
}

button{
    -webkit-app-region: no-drag;
    transition: color 300ms;
    outline:none;
    cursor: pointer;
    color:rgb(180,180,180);
    border:none;
    background:transparent;
    margin:0;
    padding:5px;
    font-size:20px;
    overflow: hidden;
}

button:hover{
    color:rgb(255,255,255);
}

.close{
    position: absolute;
    top:10px;
    right:10px;
    opacity:0;
    transition:opacity 600ms ease-in;
    text-align: right;
}
.menu{
  position: absolute;
  top:10px;
  left:10px;
  opacity:0;
  transition:opacity 600ms ease-in;
  text-align: left;
}

.controls{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    opacity:0;
    transition:opacity 600ms ease-in;
    padding: 0px 0 5px;
    background:transparent;
    -webkit-app-region: no-drag;
    text-align: center;
}

.player.paused .close,
.close:hover,
.player.paused .menu,
.menu:hover,
.player.paused .controls,
.controls:hover{
    opacity:1;
}
.mute{
  display: none;
}
.mute,
.volume{

}
#playlist{
  display: none;
  position: absolute;
  right:10px;
  bottom:85px;
  width:200px;
  height: 250px;
  padding: 0px;
  background: transparent;
  z-index: 1000;
  text-align: center;
}
#playlist ul{
  list-style: none;
  padding: 8px 0;
  margin: 0;
  height: auto;
  width: auto;
}
#playlist-container{
  width: 200px;
  height: 250px;
  background: #fff;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 2px;
  margin: 0;
  -webkit-app-region:no-drag;
}
#playlist li{
  color:rgba(0,0,0,.87);
  display: block;
  border: none;
  text-align: left;
  padding: 0 16px;
  outline-color: #bdbdbd;
  overflow: hidden;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  text-decoration: none;
  cursor: pointer;
  height: 48px;
  line-height: 48px;
  white-space: nowrap;
  transition: opacity .2s cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-overflow: ellipsis;
}
.fullscreen{
    text-align: right;
}

.smallscreen{
    text-align: right;
    display: none;
}

.player.fullscreened .smallscreen{
    display: inline-block;
}

.player.fullscreened .fullscreen{
    display: none;
}

.progress{
    width:96.5%;
    margin:0 auto;
    -webkit-appearance: none;
    height:5px;
}

.progress::-webkit-progress-bar {
    background-color:#fff;
    opacity:1;
}

.progress::-webkit-progress-value {
    background:#2196f3;
    opacity:1;
}

.count{
    padding-left: 10px;

}
.duration{
  padding-right: 10px;
}

.volRange{
    width:calc(5% + 60px);
}

.hide{
    display:none;
}

.hidden{
    opacity:0;
}
input[type="text"]{
  border: none;
border-bottom: 1px solid rgba(0,0,0,.12);
display: block;
font-size: 16px;
font-family: "Helvetica","Arial",sans-serif;
margin: 0;
padding: 4px 0;
width: 100%;
background: 0 0;
text-align: center;
color: inherit;
outline:none;
}
input[type="text"]:focus{
  border-bottom: 2px solid #2196f3;
}
.mdl-button{
  background: 0 0;
border: none;
border-radius: 2px;
color: #fff;
position: relative;
height: 36px;
margin: 0;
min-width: 64px;
padding: 0 16px;
display: inline-block;
font-family: "Roboto","Helvetica","Arial",sans-serif;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 0;
overflow: hidden;
will-change: box-shadow;
transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
outline: none;
cursor: pointer;
text-decoration: none;
text-align: center;
line-height: 36px;
vertical-align: middle;
background: #2196f3;
box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.dropArea{
    width:300px;
    height:180px;
    overflow:hidden;
    position:absolute;
    border:0px;
    border-radius:2px;
    padding:10px;
    position:absolute;
    text-align: center;
    top:calc(45% - 105px);
    left:calc(50% - 160px);
    background:rgba(0,0,0,.7);
    box-shadow: 0 0 10px rgb(0,0,0);
    transition: opacity 500ms ease-out,
        border-radius 300ms,
        background-color 300ms;
    -webkit-app-region: no-drag;
}

.dropZone{
    width:100%;
    font-size:30px;
    text-align: center;
    margin-bottom: 10px;
    pointer-events: none;
}

.dropArea.droppableArea{
    border-radius:5px;
    border-color:rgba(180,220,180,.7);
    background:rgba(20,50,20,.7);
}

.fileChooser{
    width:76%;
    left:11%;
    background: rgb(80,80,80);
    border-radius: 10px;
    margin-bottom: 10px;
}

.enterLink{
    width:calc(76% - 10px);
    left:11%;
    background: rgb(210,210,210);
    color:rgb(40,40,40);
    box-shadow: 0 0 4px rgba(0,0,0,.5) inset;
    border-radius: 10px;
    font-size:18px;
    padding:5px;
}

.error{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(100,50,50,.7);
    -webkit-app-region: no-drag;
    cursor: pointer;
    transition:opacity 300ms;
}

.error h1{
    position:absolute;
    top:calc(50% - 75px);
    left:0;
    height:150px;
    width:100%;
    line-height: 150px;
    background:rgba(200,150,150,.9);
    font-size:55px;
    text-align: center;
    margin:0;
    padding:0;
    overflow:hidden;
    text-shadow: 0 0 3px rgb(0,0,0);
    box-shadow: 0 0 10px rgb(0,0,0);
    cursor: pointer;
}
